body {
margin: 100px;
background-color: white;
font-family: Verdana;

}
.card {
    opacity: 0;
    visibility: hidden;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    perspective: 1400px;
    left: 0;
    transition: all 1s;
}

.left-card {

position: relative;
width: 100%;
height: 100%;
cursor: pointer;
box-shadow: 5px 0px 5px rgb(0, 0, 0.1);
z-index: 1;
background-color: white;


transition: transform 1s; /* correct */
transform-style: preserve-3d;
transform-origin: left; /* hinge on left edge */
}
.left-card img {
width: 100%;
}


.left-card .card-front,
.left-card .card-back {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
backface-visibility: hidden;

}

.left-card .card-back {
background-color: #f4f4f4;
transform: rotateY(180deg);


}

.card.open .left-card {
transform: rotateY(-180deg);
}

.card.open {
    left: 150px;
}

.right-card {

    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(0, 0, 0.1);
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.right-card h2 {
color: black;

}